.app-modal-card-header {
  margin-bottom: 28px;
}

.app-modal-card-header-title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.app-modal-card-header-title > img {
  margin-right: 15px;
}

.app-modal-card-header-close > img {
  margin: -20px;
  cursor: pointer;
}
